@import "menu";
@import "home";
@import "item";
*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  box-sizing: border-box;
}



.container{
  display: flex;
  justify-content: space-around; margin: 1rem auto;
}

.form{
  width: 200px;
  margin: 1rem auto;

  @keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  input{
    animation: fadeIn 1s;
    border:1px solid rgba(gray,0.4);
    outline: none;
    padding: 5px;
    margin-bottom: 0.2rem;
    border-radius: 4px;
  }
}
